/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 13.34px helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #a0a;
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 2em;
}

  .site .title a {
    color: #a00;
    text-decoration: none;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: #aaa;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
        color: #8085C1;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */

  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  #post ul,
  #post ol {
    margin-left: 1.35em;
  }

  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    #post pre code {
      border: none;
    }

  #post img {
    max-width: 42em;
    padding: 1em 0;
  }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }


/*****************************************************************************/
/*
/* Portfolio Styles
/*
/*****************************************************************************/

/* Hero Section */
.hero {
  padding: 2em 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 2em;
}

.hero h1 {
  font-size: 2.5em;
  margin-bottom: 0.2em;
  color: #333;
}

.hero h2 {
  font-size: 1.5em;
  color: #666;
  margin-bottom: 0.5em;
}

.tagline {
  font-size: 1.1em;
  color: #777;
  margin-top: 1em;
  margin-bottom: 1em;
}

.contact-links {
  font-size: 1em;
  margin-top: 1em;
}

.contact-links a {
  margin: 0 0.5em;
  text-decoration: none;
}

/* Work Experience */
.work-experience {
  margin: 3em 0;
  text-align: left;
}

.work-experience h2 {
  font-size: 1.8em;
  margin-bottom: 1em;
  color: #333;
  border-bottom: 2px solid #00a;
  padding-bottom: 0.3em;
}

.job {
  margin-bottom: 2.5em;
  padding: 1.5em;
  background: #f9f9f9;
  border-left: 4px solid #00a;
}

.job h3 {
  font-size: 1.4em;
  color: #333;
  margin-bottom: 0.3em;
}

.job h4 {
  font-size: 1.2em;
  color: #666;
  margin: 0.5em 0;
}

.job .duration {
  color: #888;
  font-style: italic;
  display: block;
  margin-bottom: 1em;
}

.job ul {
  margin-left: 1.5em;
  margin-top: 0.5em;
}

.job li {
  margin: 0.5em 0;
  line-height: 1.6;
}

/* Achievements Section */
.achievements {
  margin: 3em 0;
  text-align: left;
}

.achievements h2 {
  font-size: 1.8em;
  margin-bottom: 1em;
  color: #333;
  border-bottom: 2px solid #00a;
  padding-bottom: 0.3em;
}

.achievement-category {
  margin-bottom: 2em;
  padding: 1.5em;
  background: #f9f9f9;
  border-left: 4px solid #666;
}

.achievement-category h3 {
  font-size: 1.3em;
  color: #444;
  margin-bottom: 0.8em;
}

.achievement-category ul {
  margin-left: 1.5em;
}

.achievement-category li {
  margin: 0.5em 0;
  line-height: 1.5;
}

/* Audit Reports Page */
#audits {
  text-align: left;
}

#audits h1 {
  font-size: 2.2em;
  color: #333;
  text-align: center;
  margin-bottom: 1em;
}

.audit-overview {
  text-align: center;
  margin-bottom: 2em;
  font-size: 1.1em;
  color: #666;
}

.audit-list h2 {
  font-size: 1.6em;
  margin: 2em 0 1em 0;
  color: #333;
  border-bottom: 2px solid #00a;
  padding-bottom: 0.3em;
}

.audit-item {
  margin-bottom: 1.5em;
  padding: 1.2em;
  background: #f9f9f9;
  border-left: 4px solid #00a;
}

.audit-item h3 {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 0.5em;
}

.audit-details p {
  margin: 0.3em 0;
  color: #666;
}

.audit-details strong {
  color: #444;
}

.audit-summary {
  margin-top: 3em;
  padding-top: 2em;
  border-top: 1px solid #ddd;
}

.audit-summary h2 {
  font-size: 1.6em;
  margin-bottom: 1em;
  color: #333;
}

.stats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.stat-item {
  flex: 1;
  min-width: 200px;
  margin: 1em;
  padding: 1.5em;
  background: #f9f9f9;
  border-radius: 5px;
}

.stat-item h3 {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 0.8em;
}

.stat-item ul {
  margin-left: 1.2em;
}

.stat-item li {
  margin: 0.3em 0;
}

.stat-item p {
  margin: 0.3em 0;
}
